{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/sweetalert/sweetalert.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{{ wtf.quick_form(form) }}
{% block main_content %}
<div class="row clearfix">
    <div class="col-lg-8">
        <div class="card">
            <div class="header">
                <h2>Employees List</h2>
                <ul class="header-dropdown">
                    <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#addcontact">Add New</a></li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <label class="fancy-checkbox">
                                        <input class="select-all" type="checkbox" name="checkbox">
                                        <span></span>
                                    </label>
                                </th>
                                <th>Username</th>
                                <th>Full name</th>
                                <th>Code</th>
                                <th>Department</th>
                                <th>Locks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employee_list %}
                            <tr class="clickable-row" style="cursor: pointer;">
                                <td class="width45">
                                    <label class="fancy-checkbox">
                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <h6 class="mb-0">{{ employee.username }}</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0">{{ employee.fullname }}</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0">{{ employee.code }}</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0">{{ employee.department_id }}</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0">{{ employee.locks }}</h6>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-sm btn-outline-success" href="{{ url_for('employee', employee_id=employee.employee_id) }}" title="Add photo"><i class="fa fa-camera"></i></a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" title="Edit"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm" data-object_id="{{ employee.employee_id }}"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="header">
                <h2>Information</h2>
            </div>
            <div class="body">
                <img id="camera_display" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="modal animated zoomIn" id="addcontact" tabindex="-1" role="dialog">
    <form action="" method="POST" id="app">
        {{ form.csrf_token }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Add Department</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.username(class="form-control", placeholder="username") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.fullname(class="form-control", placeholder="fullname") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.code(class="form-control", placeholder="code") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.department_id(class="form-control", placeholder="department") }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <select name="" id="" v-model="chosenLock" class="form-control">
                                    <option v-for="(lock, index) in locks" :key="index" :value="lock.code">[[ lock.lock_name ]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button class="btn" type="button" @click="addLock"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row clearfix" v-for="(lock, index) in lockList" :key="index">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <h6>[[lock.lock_name]]</h6>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <button class="btn" type="button" @click="deleteLock(lock.code)"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form.locks }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ form.submit(class="btn btn-primary", type="submit") }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/vuejs/vue.js') }}"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            locks: [],
            chosenLock: '',
            lockList: []
        },
        methods: {
            addLock() {
                let camera = this.locks.find(item=>{return item.code==this.chosenLock})
                if (this.lockList.includes(camera))
                    return
                this.lockList.push(camera)
                let locks = $('#locks').val()
                if (!locks){
                    $('#locks').val(camera.code)
                } else {
                    $('#locks').val(locks + ',' + camera.code)
                }
            },
            deleteLock(code){
                this.lockList.splice(this.lockList.indexOf(this.locks.find(item=>{return item.code==code})), 1)
                let locks = $('#locks').val()
                locks = locks.split(',')
                locks.splice(locks.indexOf(code.toString()), 1)
                if (locks.length == 0) {
                    $('#locks').val('')
                } else if (locks.length > 0){
                    $('#locks').val(locks.join(','))
                }
            }
        }
    })
</script>
<script>
    function deleteObject(object_id) {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('delete_department') }}",
            data: {
                department_id: object_id
            },
            success: function(res){
                console.log(res)
                if (res.success){
                    location.reload()
                }
            }
        })
    }
    function getLock() {
        $.ajax({
            type: 'GET',
            url: "{{ url_for('get_lock') }}",
            success: function(res){
                app.locks = res;
            }
        })
    }
    getLock()
</script>
<script src="{{ url_for('static', filename='bundles/datatablescripts.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/sweetalert/sweetalert.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/ui/dialogs.js') }}"></script>
{% endblock %}